<a href="https://colab.research.google.com/github/Jaiveer189/Google-Collab-mini-projects-/blob/main/HOUSE_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

house price prediction

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Loading the data
df = pd.read_csv("house_prices.csv")
print(df.head)

<bound method NDFrame.head of          Index                                              Title  \
0            0  1 BHK Ready to Occupy Flat for sale in Srushti...
1            1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2            2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3            3        1 BHK Ready to Occupy Flat for sale Kasheli
4            4  2 BHK Ready to Occupy Flat for sale in TenX Ha...
...        ...                                                ...
187526  187526  3 BHK Ready to Occupy Flat for sale in Bollywo...
187527  187527  3 BHK Ready to Occupy Flat for sale in Sushma ...
187528  187528  3 BHK Ready to Occupy Flat for sale in Bollywo...
187529  187529  2 BHK Ready to Occupy Flat for sale in Friends...
187530  187530  3 BHK Ready to Occupy Flat for sale in Affinit...

                                              Description Amount(in rupees)  \
0       Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1       One can find this stunning 2 BHK flat for sale...           98 Lac
2       Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3       This beautiful 1 BHK Flat is available for sal...           25 Lac
4       This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr
...                                                   ...               ...
187526  This magnificent 3 BHK Flat is available for s...           63 Lac
187527  Have a look at this immaculate 3 BHK flat for ...           55 Lac
187528  Gazipur, Zirakpur has an appealing 3 BHK flat ...           76 Lac
187529  Up for immediate sale is a 2 BHK apartment in ...           30 Lac
187530  This exquisite 3 BHK Flat is offered for sale ...          1.18 Cr

        Price (in rupees)  location Carpet Area         Status         Floor  \
0                  6000.0     thane    500 sqft  Ready to Move  10 out of 11
1                 13799.0     thane    473 sqft  Ready to Move   3 out of 22
2                 17500.0     thane    779 sqft  Ready to Move  10 out of 29
3                     NaN     thane    530 sqft  Ready to Move    1 out of 3
4                 18824.0     thane    635 sqft  Ready to Move  20 out of 42
...                   ...       ...         ...            ...           ...
187526             3225.0  zirakpur         NaN  Ready to Move    2 out of 4
187527             3274.0  zirakpur         NaN  Ready to Move    4 out of 6
187528             4343.0  zirakpur   1250 sqft  Ready to Move    1 out of 3
187529             4231.0  zirakpur         NaN  Ready to Move    2 out of 2
187530             6162.0  zirakpur         NaN  Ready to Move   5 out of 13

         Transaction  ...        facing             overlooking  \
0             Resale  ...           NaN                     NaN
1             Resale  ...          East             Garden/Park
2             Resale  ...          East             Garden/Park
3             Resale  ...           NaN                     NaN
4             Resale  ...          West  Garden/Park, Main Road
...              ...  ...           ...                     ...
187526  New Property  ...          East             Garden/Park
187527        Resale  ...  North - East  Garden/Park, Main Road
187528        Resale  ...          East  Garden/Park, Main Road
187529        Resale  ...           NaN               Main Road
187530        Resale  ...  North - East       Garden/Park, Pool

                                    Society Bathroom Balcony Car Parking  \
0       Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                               Dosti Vihar        2     NaN      1 Open
2                      Sunrise by Kalpataru        2     NaN   1 Covered
3                                       NaN        1       1         NaN
4               TenX Habitat Raymond Realty        2     NaN   1 Covered
...                                     ...      ...     ...         ...
187526                    Bollywood Esencia        3       3   1 Covered
187527                   Sushma Urban Views        3     NaN   1 Covered
187528                    Bollywood Esencia        3       2  1 Covered,
187529                      Friends Enclave        2     NaN         NaN
187530                      Affinity Greens        4       4   1 Covered

                   Ownership Super Area Dimensions  Plot Area
0                        NaN        NaN        NaN        NaN
1                   Freehold        NaN        NaN        NaN
2                   Freehold        NaN        NaN        NaN
3                        NaN        NaN        NaN        NaN
4       Co-operative Society        NaN        NaN        NaN
...                      ...        ...        ...        ...
187526              Freehold  1953 sqft        NaN        NaN
187527                   NaN  1680 sqft        NaN        NaN
187528              Freehold        NaN        NaN        NaN
187529                   NaN   709 sqft        NaN        NaN
187530              Freehold  1915 sqft        NaN        NaN

[187531 rows x 21 columns]>

In [ ]:
#Viewing and inspecting the data
# load few rows
print(df.head())

   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      3        1 BHK Ready to Occupy Flat for sale Kasheli
4      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...

                                         Description Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1  One can find this stunning 2 BHK flat for sale...           98 Lac
2  Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3  This beautiful 1 BHK Flat is available for sal...           25 Lac
4  This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr

   Price (in rupees) location Carpet Area         Status         Floor  \
0             6000.0    thane    500 sqft  Ready to Move  10 out of 11
1            13799.0    thane    473 sqft  Ready to Move   3 out of 22
2            17500.0    thane    779 sqft  Ready to Move  10 out of 29
3                NaN    thane    530 sqft  Ready to Move    1 out of 3
4            18824.0    thane    635 sqft  Ready to Move  20 out of 42

  Transaction  ... facing             overlooking  \
0      Resale  ...    NaN                     NaN
1      Resale  ...   East             Garden/Park
2      Resale  ...   East             Garden/Park
3      Resale  ...    NaN                     NaN
4      Resale  ...   West  Garden/Park, Main Road

                               Society Bathroom Balcony Car Parking  \
0  Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                          Dosti Vihar        2     NaN      1 Open
2                 Sunrise by Kalpataru        2     NaN   1 Covered
3                                  NaN        1       1         NaN
4          TenX Habitat Raymond Realty        2     NaN   1 Covered

              Ownership Super Area Dimensions  Plot Area
0                   NaN        NaN        NaN        NaN
1              Freehold        NaN        NaN        NaN
2              Freehold        NaN        NaN        NaN
3                   NaN        NaN        NaN        NaN
4  Co-operative Society        NaN        NaN        NaN

[5 rows x 21 columns]

In [ ]:
#Check data shape
print(df.shape)

(187531, 21)

In [ ]:
# check data types
print(df.dtypes)

Index                  int64
Title                 object
Description           object
Amount(in rupees)     object
Price (in rupees)    float64
location              object
Carpet Area           object
Status                object
Floor                 object
Transaction           object
Furnishing            object
facing                object
overlooking           object
Society               object
Bathroom              object
Balcony               object
Car Parking           object
Ownership             object
Super Area            object
Dimensions           float64
Plot Area            float64
dtype: object

In [ ]:
#see column names
print(df.columns)

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='object')

Basic Statistics with pandas

In [ ]:
#summary of all columns
print(df.describe())

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [ ]:
#summary for a single column
print(df['Price (in rupees)'].describe())

count    1.698660e+05
mean     7.583772e+03
std      2.724171e+04
min      0.000000e+00
25%      4.297000e+03
50%      6.034000e+03
75%      9.450000e+03
max      6.700000e+06
Name: Price (in rupees), dtype: float64

In [ ]:
#count the missing value
print(df.isnull().sum())

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [ ]:
#finding the unique valus
print(df['location'].unique())
print(df['location'].value_counts())

['thane' 'navi-mumbai' 'nagpur' 'mumbai' 'ahmedabad' 'bangalore' 'chennai'
 'gurgaon' 'hyderabad' 'indore' 'jaipur' 'kolkata' 'lucknow' 'new-delhi'
 'noida' 'pune' 'agra' 'ahmadnagar' 'allahabad' 'aurangabad' 'badlapur'
 'belgaum' 'bhiwadi' 'bhiwandi' 'bhopal' 'bhubaneswar' 'chandigarh'
 'coimbatore' 'dehradun' 'durgapur' 'ernakulam' 'faridabad' 'ghaziabad'
 'goa' 'greater-noida' 'guntur' 'guwahati' 'gwalior' 'haridwar' 'jabalpur'
 'jamshedpur' 'jodhpur' 'kalyan' 'kanpur' 'kochi' 'kozhikode' 'ludhiana'
 'madurai' 'mangalore' 'mohali' 'mysore' 'nashik' 'navsari' 'nellore'
 'palakkad' 'palghar' 'panchkula' 'patna' 'pondicherry' 'raipur'
 'rajahmundry' 'ranchi' 'satara' 'shimla' 'siliguri' 'solapur' 'sonipat'
 'surat' 'thrissur' 'tirupati' 'trichy' 'trivandrum' 'udaipur' 'udupi'
 'vadodara' 'vapi' 'varanasi' 'vijayawada' 'visakhapatnam' 'vrindavan'
 'zirakpur']
location
new-delhi      27599
bangalore      24030
kolkata        22380
gurgaon        20070
ahmedabad      12750
               ...
nellore           30
pondicherry       30
navsari           30
palakkad          30
solapur           30
Name: count, Length: 81, dtype: int64

Filtring and Selecting data

In [ ]:
#filter single colunm
print(df['Price (in rupees)'])

0          6000.0
1         13799.0
2         17500.0
3             NaN
4         18824.0
           ...
187526     3225.0
187527     3274.0
187528     4343.0
187529     4231.0
187530     6162.0
Name: Price (in rupees), Length: 187531, dtype: float64

In [ ]:
#filter multiple columns
print(df[['Price (in rupees)', 'location']])

        Price (in rupees)  location
0                  6000.0     thane
1                 13799.0     thane
2                 17500.0     thane
3                     NaN     thane
4                 18824.0     thane
...                   ...       ...
187526             3225.0  zirakpur
187527             3274.0  zirakpur
187528             4343.0  zirakpur
187529             4231.0  zirakpur
187530             6162.0  zirakpur

[187531 rows x 2 columns]

In [ ]:
#Filter rows eg.price above 1million
print(df[df['Price (in rupees)']> 1000000])

         Index                                              Title  \
147912  147912     5 BHK Ready to Occupy Flat for sale Dayal Bagh
174894  174894    2 BHK Ready to Occupy Flat for sale Kachna Road
175013  175013  2 BHK Ready to Occupy Flat for sale in Chaitan...
176536  176536  3 BHK Ready to Occupy Flat for sale Hill Cart ...
180481  180481     3 BHK Ready to Occupy Flat for sale Sreekaryam
180679  180679      2 BHK Ready to Occupy Flat for sale Fatehpura
181234  181234  3 BHK Ready to Occupy Flat for sale in Nest Ha...

                                              Description Amount(in rupees)  \
147912  Discover this immaculate 5 BHK flat for sale a...          1.35 Cr
174894  Kachna Road, Raipur has an attractive 2 BHK Fl...        396.75 Cr
175013  This lovely 2 BHK Flat in Saddu, Raipur is up ...        229.80 Cr
176536  This ready to move-in 3 BHK flat is available ...        510.04 Cr
180481  This attractive 3 BHK apartment can be found f...          1.44 Cr
180679  This attractive 2 BHK apartment can be found f...           45 Lac
181234  Have a look at this immaculate 3 BHK flat for ...       1400.30 Cr

        Price (in rupees)    location Carpet Area         Status  \
147912          4500000.0        agra    3 ground  Ready to Move
174894          3450000.0      raipur    920 sqft  Ready to Move
175013          2669100.0      raipur    750 sqft  Ready to Move
176536          4041600.0    siliguri    970 sqft  Ready to Move
180481          1200000.0  trivandrum         NaN  Ready to Move
180679          4500000.0     udaipur         NaN  Ready to Move
181234          6700000.0    vadodara   1252 sqft  Ready to Move

                  Floor   Transaction  ... facing  \
147912       1 out of 2        Resale  ...    NaN
174894       2 out of 2  New Property  ...   East
175013       2 out of 9  New Property  ...   East
176536       1 out of 4  New Property  ...  North
180481  Ground out of 1        Resale  ...   East
180679       4 out of 4        Resale  ...    NaN
181234       5 out of 9  New Property  ...    NaN

                         overlooking           Society Bathroom Balcony  \
147912                     Main Road               NaN        5       1
174894  Garden/Park, Pool, Main Road               NaN        2       2
175013        Garden/Park, Main Road  Chaitanya Greens        2       1
176536                     Main Road               NaN        2       1
180481                     Main Road               NaN        3       3
180679                           NaN               NaN        2     NaN
181234                           NaN      Nest Harmony        3       5

       Car Parking          Ownership Super Area Dimensions  Plot Area
147912         NaN                NaN        NaN        NaN        NaN
174894  1 Covered,           Freehold        NaN        NaN        NaN
175013  1 Covered,           Freehold        NaN        NaN        NaN
176536   1 Covered           Freehold        NaN        NaN        NaN
180481         NaN  Power Of Attorney    12 sqft        NaN        NaN
180679         NaN                NaN     1 sqft        NaN        NaN
181234   1 Covered                NaN        NaN        NaN        NaN

[7 rows x 21 columns]

Simple Calculations using Numpy and Pandas

In [ ]:
#mean median and stanard deviation
mean_Price = np.mean(df['Price (in rupees)'].mean())
median_Price =np.median(df['Price (in rupees)'].median())
std_Price =np.std(df['Price (in rupees)'].std())
print(mean_Price,median_Price,std_Price)

In [ ]:
#minimum and maximum price
min_price = df['Price (in rupees)'].min()
max_price = df['Price (in rupees)'].max()
print(min_price,max_price)

In [ ]:
#Loading the data
df = pd.read_csv("house_prices.csv")
print(df.head)

In [ ]:
#minimum and maximum price
min_price = df['Price (in rupees)'].min()
max_price = df['Price (in rupees)'].max()
print(min_price,max_price)

NameError: name 'df' is not defined

In [ ]:
#Loading the data
df = pd.read_csv("/content/house_prices (1) (1).csv")
print(df.head)

<bound method NDFrame.head of        Index                                              Title  \
0          0  1 BHK Ready to Occupy Flat for sale in Srushti...
1          1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2          2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3          3        1 BHK Ready to Occupy Flat for sale Kasheli
4          4  2 BHK Ready to Occupy Flat for sale in TenX Ha...
...      ...                                                ...
28995  28995  2 BHK Ready to Occupy Flat for sale in Jai Gar...
28996  28996  2 BHK Ready to Occupy Flat for sale in SB Temp...
28997  28997  2 BHK Ready to Occupy Flat for sale in Legacy ...
28998  28998  2 BHK Ready to Occupy Flat for sale in Santhos...
28999  28999  2 BHK Ready to Occupy Flat for sale A Narayana...

                                             Description Amount(in rupees)  \
0      Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1      One can find this stunning 2 BHK flat for sale...           98 Lac
2      Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3      This beautiful 1 BHK Flat is available for sal...           25 Lac
4      This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr
...                                                  ...               ...
28995  Up for immediate sale is a 2 BHK apartment in ...           83 Lac
28996                                                NaN          1.17 Cr
28997  2 BHK flat available for sale in Bangalore in ...           65 Lac
28998  This exquisite 2 BHK Flat is offered for sale ...           85 Lac
28999         This gorgeous 2 BHK Flat is available for                NaN

       Price (in rupees)   location Carpet Area         Status         Floor  \
0                 6000.0      thane    500 sqft  Ready to Move  10 out of 11
1                13799.0      thane    473 sqft  Ready to Move   3 out of 22
2                17500.0      thane    779 sqft  Ready to Move  10 out of 29
3                    NaN      thane    530 sqft  Ready to Move    1 out of 3
4                18824.0      thane    635 sqft  Ready to Move  20 out of 42
...                  ...        ...         ...            ...           ...
28995             6854.0  bangalore    880 sqft  Ready to Move    4 out of 5
28996             9161.0  bangalore         NaN  Ready to Move           NaN
28997             5508.0  bangalore         NaN  Ready to Move    1 out of 4
28998             7456.0  bangalore         NaN  Ready to Move    3 out of 4
28999                NaN        NaN         NaN            NaN           NaN

        Transaction  ... facing                   overlooking  \
0            Resale  ...    NaN                           NaN
1            Resale  ...   East                   Garden/Park
2            Resale  ...   East                   Garden/Park
3            Resale  ...    NaN                           NaN
4            Resale  ...   West        Garden/Park, Main Road
...             ...  ...    ...                           ...
28995        Resale  ...  North  Garden/Park, Pool, Main Road
28996  New Property  ...    NaN                           NaN
28997        Resale  ...    NaN                           NaN
28998        Resale  ...    NaN                           NaN
28999           NaN  ...    NaN                           NaN

                                   Society Bathroom Balcony Car Parking  \
0      Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                              Dosti Vihar        2     NaN      1 Open
2                     Sunrise by Kalpataru        2     NaN   1 Covered
3                                      NaN        1       1         NaN
4              TenX Habitat Raymond Realty        2     NaN   1 Covered
...                                    ...      ...     ...         ...
28995                                  NaN        2       2         NaN
28996                                  NaN        2     NaN   1 Covered
28997                                  NaN        2       1         NaN
28998                                  NaN        2     NaN         NaN
28999                                  NaN      NaN     NaN         NaN

                  Ownership Super Area Dimensions  Plot Area
0                       NaN        NaN        NaN        NaN
1                  Freehold        NaN        NaN        NaN
2                  Freehold        NaN        NaN        NaN
3                       NaN        NaN        NaN        NaN
4      Co-operative Society        NaN        NaN        NaN
...                     ...        ...        ...        ...
28995              Freehold        NaN        NaN        NaN
28996                   NaN  1285 sqft        NaN        NaN
28997              Freehold  1180 sqft        NaN        NaN
28998                   NaN  1140 sqft        NaN        NaN
28999                   NaN        NaN        NaN        NaN

[29000 rows x 21 columns]>

In [ ]:
#minimum and maximum price
min_price = df['Price (in rupees)'].min()
max_price = df['Price (in rupees)'].max()
print(min_price,max_price)

NameError: name 'df' is not defined

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Loading the data
df = pd.read_csv("/content/house_prices (1) (1).csv")
print(df.head)

<bound method NDFrame.head of        Index                                              Title  \
0          0  1 BHK Ready to Occupy Flat for sale in Srushti...
1          1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2          2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3          3        1 BHK Ready to Occupy Flat for sale Kasheli
4          4  2 BHK Ready to Occupy Flat for sale in TenX Ha...
...      ...                                                ...
28995  28995  2 BHK Ready to Occupy Flat for sale in Jai Gar...
28996  28996  2 BHK Ready to Occupy Flat for sale in SB Temp...
28997  28997  2 BHK Ready to Occupy Flat for sale in Legacy ...
28998  28998  2 BHK Ready to Occupy Flat for sale in Santhos...
28999  28999  2 BHK Ready to Occupy Flat for sale A Narayana...

                                             Description Amount(in rupees)  \
0      Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1      One can find this stunning 2 BHK flat for sale...           98 Lac
2      Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3      This beautiful 1 BHK Flat is available for sal...           25 Lac
4      This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr
...                                                  ...               ...
28995  Up for immediate sale is a 2 BHK apartment in ...           83 Lac
28996                                                NaN          1.17 Cr
28997  2 BHK flat available for sale in Bangalore in ...           65 Lac
28998  This exquisite 2 BHK Flat is offered for sale ...           85 Lac
28999         This gorgeous 2 BHK Flat is available for                NaN

       Price (in rupees)   location Carpet Area         Status         Floor  \
0                 6000.0      thane    500 sqft  Ready to Move  10 out of 11
1                13799.0      thane    473 sqft  Ready to Move   3 out of 22
2                17500.0      thane    779 sqft  Ready to Move  10 out of 29
3                    NaN      thane    530 sqft  Ready to Move    1 out of 3
4                18824.0      thane    635 sqft  Ready to Move  20 out of 42
...                  ...        ...         ...            ...           ...
28995             6854.0  bangalore    880 sqft  Ready to Move    4 out of 5
28996             9161.0  bangalore         NaN  Ready to Move           NaN
28997             5508.0  bangalore         NaN  Ready to Move    1 out of 4
28998             7456.0  bangalore         NaN  Ready to Move    3 out of 4
28999                NaN        NaN         NaN            NaN           NaN

        Transaction  ... facing                   overlooking  \
0            Resale  ...    NaN                           NaN
1            Resale  ...   East                   Garden/Park
2            Resale  ...   East                   Garden/Park
3            Resale  ...    NaN                           NaN
4            Resale  ...   West        Garden/Park, Main Road
...             ...  ...    ...                           ...
28995        Resale  ...  North  Garden/Park, Pool, Main Road
28996  New Property  ...    NaN                           NaN
28997        Resale  ...    NaN                           NaN
28998        Resale  ...    NaN                           NaN
28999           NaN  ...    NaN                           NaN

                                   Society Bathroom Balcony Car Parking  \
0      Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                              Dosti Vihar        2     NaN      1 Open
2                     Sunrise by Kalpataru        2     NaN   1 Covered
3                                      NaN        1       1         NaN
4              TenX Habitat Raymond Realty        2     NaN   1 Covered
...                                    ...      ...     ...         ...
28995                                  NaN        2       2         NaN
28996                                  NaN        2     NaN   1 Covered
28997                                  NaN        2       1         NaN
28998                                  NaN        2     NaN         NaN
28999                                  NaN      NaN     NaN         NaN

                  Ownership Super Area Dimensions  Plot Area
0                       NaN        NaN        NaN        NaN
1                  Freehold        NaN        NaN        NaN
2                  Freehold        NaN        NaN        NaN
3                       NaN        NaN        NaN        NaN
4      Co-operative Society        NaN        NaN        NaN
...                     ...        ...        ...        ...
28995              Freehold        NaN        NaN        NaN
28996                   NaN  1285 sqft        NaN        NaN
28997              Freehold  1180 sqft        NaN        NaN
28998                   NaN  1140 sqft        NaN        NaN
28999                   NaN        NaN        NaN        NaN

[29000 rows x 21 columns]>

In [ ]:
import pandas as pd

#Loading the data
try:
    df = pd.read_csv("/content/house_prices (1) (1).csv")
    #minimum and maximum price
    min_price = df['Price (in rupees)'].min()
    max_price = df['Price (in rupees)'].max()
    print(min_price,max_price)
except FileNotFoundError:
    print("Error: house_prices.csv not found. Please make sure the file is in the correct directory.")

Error: house_prices.csv not found. Please make sure the file is in the correct directory.

In [ ]:
from google.colab import files
uploaded = files.upload()
print(uploaded)